section {
    font-family: "Roboto Flex";
    max-width: 80vw;
    border-radius: 25px;
    background-image: linear-gradient(180deg, #6f85f9 0%, #4150a2 80%);
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.75) inset;
    margin: 5vh 0;
}

.book-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3vh 5vw;
}

.book-details-container label {
    margin: 1%;
}

#description {
    padding: 0 0.5em;

    height: 2.5em;
    width: 90%;
    color: #3F2722;
    font-size: 16px;
    font-family: KoHo;
    font-weight: 600;
    word-wrap: break-word;

    background: #F9E1BB;
    border-radius: 15px;
}

form > input {
    padding: 0 0.5em;
    height: 2.5em;
    width: 90%;
    color: #3F2722;
    font-size: 16px;
    font-family: KoHo;
    font-weight: 600;
    word-wrap: break-word;

    background: #F9E1BB;
    border-radius: 15px;
}

.message {
    font-family: KoHo;
    font-size: 1em;
    color: #f36655;
    font-weight: 600;
    word-wrap: break-word;
}

#description {
    max-width: 90%;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 6vw;
        align-items: center;
        margin: 0 auto;
    }

    #description {
        min-height: 13em;
    }

    .book-details {
        margin-bottom: 4em;
    }
}

