section {
    font-family: "Roboto Flex";
    max-width: 80vw;
    border-radius: 25px;
    background-image: linear-gradient(180deg, #6f85f9 0%, #4150a2 80%);
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.75) inset;
    margin: 8vh 0;
}

.book-details-container {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10%;
}

.left-section img {
    width: 100%;
    border-radius: 15px;
    margin: 15px 0;
}

.mid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40vw;
    padding: 10% 0;
}

.name-box h1 {
    font-family: KoHo;
    font-style: normal;
    font-size: 3em;
    margin: 10px 0;
}

.name-box h2 {
    font-family: KoHo;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em;
    margin: 15px 0;
}

.add-bookmark p {
    font-family: 'Roboto Flex';
    display: inline-block;
    margin-right: 5px;
}

.func-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mid-section .description {
    font-family: 'Roboto Flex';
    font-size: 1.2em;
}


.right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10%;
}

.right-section p {
    text-align: right;
}

.genre-box > p:first-child {
    color: #c9c9c9;
}

.reservation-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.reservation-container h1 {
    margin: 10px 0;
}

.reservation-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > button {
    width: 90%;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 6vw;
        align-items: center;
        margin: 0 auto;
    }

    main > h1 {
        margin-bottom: 0;
    }

    section {
        max-width: 88vw;
        margin: 5vh auto;
    }

    section:last-child {
        margin-bottom: 4em;
    }

    .reservation-container form {
        padding-bottom: 2em;
    }

    .book-details-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1vh 5vw;
    }

    .left-section {
        padding: 0;
    }

    .left-section .genre-box {
        font-size: 1em;
    }

    .mid-section {
        padding: 0;
    }


    h1.book-title {
        font-size: 2em;
    }

    h2.book-author {
        font-size: 1.5em;
    }

    .mid-section {
        max-width: 90vw;
    }

    .right-section {
        display: block;
    }

    .reservation-container {
        margin: 5px 0;
    }
}